<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UmServiceSoapBinding"
                 maxBufferPoolSize="200000000"
                 maxReceivedMessageSize="200000000">
          <security mode="Transport" />
        </binding>
        <binding name="UmServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://oop.somtoday.nl/services/umService"
          binding="basicHttpBinding" bindingConfiguration="UmServiceSoapBinding"
          contract="UmService.UmService" name="umService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="BooleanFilterBylocation" value="True" />
    <add key="IncludedLocationCode" value="AB;CD;EF;GH" />   <!-- Gescheiden door Puntcomma  ; -->
    <add key="umServiceBrinNr" value="01AB" />
    <add key="umServiceUsername" value="Somtoday-username" />
    <add key="umServicePassword" value="Somtoday-password" />
    <add key="OutputDirectory" value="C:\SchoolDataSync\CSV" />
    <add key="SeperateOutputDirectoryForEachLocation" value="True" />
    <add key="OutputFormatUsernameTeacher" value="{user.medewerkerUsername}" />
    <!--<add key="OutputFormatFirstnameTeacher" value="{user.medewerkerVoorletters}" /> -->
    <!--<add key="OutputFormatLastnameTeacher" value="{user.medewerkerAchternaam}" /> -->
    <add key="OutputFormatUsernameStudent" value="{user.leerlingNummer}" />  
    <!--<add key="OutputFormatFirstnameStudent" value="{user.leerlingRoepnaam}" />  -->
    <!--<add key="OutputFormatLastnameStudent" value="{user.leerlingAchternaam}" />  -->
  </appSettings>
</configuration>
